<!DOCTYPE html>
<html>
<head>

<!-- <link rel="stylesheet" href="./css/global.css"> -->
<link rel="stylesheet" href="./css/gameplay.css">

<title>KILBURN KWIZZIZZ</title>

</head>

<body>

<!-- the below two divs of class fixed7 and fixed6 display the 4 answer buttons that make up the circle
these are linked to their respective functions-->

  <div class="fixed7">
  <button label = "option" type = "submit" onclick="answer1();">
     <img label = "option" src="./assets/option1_t.png" width="200" height="auto"/>
  </button>
  <button label = "option" type = "submit" onclick="answer2();">
     <img label = "option" src="./assets/option2.jpg" width="200" height="auto"/>
  </button>

</div>

<div class="fixed6">
  <button label = "option" type = "submit" onclick="answer3();">
     <img src="./assets/option3.jpg"width="200" height="auto"  />
  </button>
  <button label = "option" type = "submit" onclick="answer4();">
     <img src="./assets/option4.jpg"width="200" height="auto" />
  </button>
</div>

<!-- displays the timer -->
<div class="fixed5"> <p id="timer"></p> </div>

<!-- displays the answer options -->
    <div class="fixed"> <p id="option1"></p> </div>
    <div class="fixed2"> <p id="option2"></p> </div>
    <div class="fixed3"> <p id="option3"></p> </div>
    <div class="fixed4"> <p id="option4"></p> </div>

<!-- displays the question -->
    <div class="fixed8">
      <p id="question"></p>
    </div>

<!-- imports javascript script for functionality -->
    <script src="./js/gameplay.js"></script>


</body>
</html>
