<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/game-host.css">
</head>
<body>
    <h1>Host</h1><button id="nextButton" class="nextButton" onclick="nextQuestion()">Next Question</button>
    <h2 id="question"></h2>
    <div id="answers">
        <p>1. <span id="answer1"></span></p>
        <p>2. <span id="answer2"></span></p>
        <p>3. <span id="answer3"></span></p>
        <p>4. <span id="answer4"></span></p>
    </div>
    <p>Timer <span id="timer"></span></p>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
<script src="/js/game-host.js"></script>
</html>