<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script>
      var uname = localStorage.getItem("uname")
      if (uname != null) { 
          window.location.href = '/lobby';
      };
    </script>
    <link rel="stylesheet" href="./css/global.css" />
    <link rel="stylesheet" href="./css/index.css" />
  </head>
  <body>
    
    <div id="spaceDiv">
      <form action="/login">
        <input type="submit" value="Log-in">
      </form>
      <form action="/register">
        <input type="submit" value="Register">
      </form>
    </div>
    <h1>Kilburn Kwizziz</h1>

    <div id="pinDiv">
      <input id="name" type="text" placeholder="Name"><br>
      <!-- <input type="number" id="pin" type="text" placeholder="Enter Pin"><br> -->
      <button  value="Enter" onclick="enterPress();">Enter</button>
    </div>

    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="./js/index.js"></script>
  </body>
</html>