<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Leaderboard</title>
    <!-- <script>
      var uname = localStorage.getItem("uname")
      if (uname != null) { 
          window.location.href = `/lobby/${uname}`;
      };
    </script> -->
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/leaderboard.css" />
  </head>
  <body>
    <h1>Leaderboard</h1>
    <h2 id="question"></h2>
    <!-- next question button -->
    <div id="button" class="nextQButton">
        <button onclick="nextQButton()">Next question</button>
    </div>

    <!-- leadbord section -->
    <div class="board" id="board">
        <ol id="list">
        </ol>
    </div>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="/js/leaderboard.js"></script>
  </body>
</html>