<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Lobby</title>
    <script>
      var uname = localStorage.getItem("uname")
      if (uname == null) { 
          window.location.href = '/';
      };
    </script>
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/lobby.css" />
  </head>
  <body>
    
    <h1>Lobby</h1>
    <% if (uname == hostId) { %>
      <button  value="Enter" onclick="startGame();">Start</button>
    <% } %>
    <h2 style="color: white; text-align: center;">Host - <%= hostId || "No Host" %> </h2>
    
    <div style="padding: 0em 2em; color: white;" class="usernames" id="usernames">
    </div>
    
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="/js/lobby.js"></script>
  </body>
</html>