<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: #6b2c91;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<title>KILBURN KWIZZIZZ</title>
<div style="margin-left: 40%">
<h1>KILBURN KWIZZIZZ</h1>
</div>


</head>
<body>


  <div style="margin-left: 75%">

    <button style="width:155px;height:65px; font-size:50px; border-radius: 15px;" onclick="window.location.href='file:///home/csimage/gameplay.html'">Login</button>
    <button style="width:205px;height:65px; font-size:50px; border-radius: 15px;" onclick="window.location.href='file:///home/csimage/gameplay.html'">Register</button>

</div>

<div style="margin-left: 41%">

    <div style="margin-top: 30%">

      <button style="width:293px;height:62px; font-size:50px; border-radius: 15px;" onclick="window.location.href='file:///home/csimage/gameplay.html'">JOIN&nbsp;GAME</button>

      </div>

  <form method="get" action="" style="width:25%;height:50%;">

 <input type="text" placeholder = "USERNAME" style="width:287px;height:50px; font-size:50px; border-radius: 15px;" maxlength="7"/><br />


  </form>




</body>
</html>
