<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Socket.io refrecnce code</title>
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    
    <div id="spaceDiv">
      <form action="/login">
        <input type="submit" value="Log-in">
      </form>
      <form action="/register">
        <input type="submit" value="Register">
      </form>
    </div>
    <h1>Kilburn Kwizziz</h1>

    <div id="pinDiv">
      <input id="name" type="text" placeholder="Name"><br>
      <input type="number" id="pin" type="text" placeholder="Enter Pin"><br>
      <button  value="Enter" onclick="enterPress();">Enter</button>
    </div>

    <form action="/lobby">
      <input type="submit" value="StartGame">
    </form>

    <!-- <p><%= locals.text %> </p> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.js"></script>
    <script src="index.js"></script>
  </body>
</html>